{% extends "base.html" %}
{% block title %}About-us{% endblock %}
{% block subtitle %}<h1>About Us</h1>{% endblock %}
{% block content2 %}
   <!----------about us content----------->
   <section class="about-us">
       <div class="row">
           <div class="about-col">
               <h1>Between the lake and the sea!</h1>
               <p>Apartments Lavender are located in the newly built family house. We offer 3 air-conditioned apartments with a sea view . All apartments have a separate entrance and a private terrace. The apartments are located in the street "Mike Tripala 4" in a small Dalmatian village Drage. If you have any questions please send email.</p>
            </div>

            <div class="about-col">
                <img src="../static/images/drage31.jpg" alt="">
            </div>
        </div>

   </section>

   
{% endblock %}


  