{% extends "base.html" %}
{% block title %}Book-now{% endblock %}
{% block subtitle %}<h1>Book now!</h1>{% endblock %}
{% block content2 %}
<!---------------------book now content-------------------->
<!------Izrada forme za rezervaciju------------->
<section class="banner">
    <h2>BOOK APARTMENT NOW!</h2>
    <div class="card-container">
        <div class="card-img">
        </div>
        <div class="card-content">
            <h3>Reservation</h3>
            <form class="form form-horizontal" method="post" role="form">
                <div class="form-row">
                    {{ form.hidden_tag() }}
                    <label for="check_in">Check in:</label>
                    {{form.check_in (class="form-control")}}
                    <label for="check_out">Check out:</label>
                    {{form.check_out (class="form-control")}}
                </div>
                <div class="form-row">
                    <label for="apartment">Apartment: </label>
                    {{form.apartment (class="form-select")}}
                </div>
                <div class="form-row">
                    <label for="adults">Adults: </label>
                    {{form.adults (class="form-control")}}
                    <label for="children">Childrens: </label>
                    {{form.children (class="form-control")}}
                </div>
                <div class="form-row">
                    <label for="name_booking">Full Name: </label>
                    {{form.name_booking (class="form-control")}}
                </div>
                <div class="form-row">
                    <label for="email_booking">Email: </label>
                    {{form.email_booking (class="form-control")}}
                </div>
                    <br>
                <div class="form-row">
                    {{form.submit(class="btn btn-primary")}}
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
