{% extends "base.html" %}
{% block title %}Thanks-you{% endblock %}
{% block subtitle %}<h1>Thank You for contacting Us</h1>{% endblock %}
{% block content2 %}
<div class="jumbotron text-center">
    <h1 class="display-3"><br>Thanks for being awesome! </h1>
    <p class="lead"><strong>We have received your message and would like to thank you for writing to us.</strong><br> If your inquiry is urgent, please use the telephone number listed below to talk to one of our staff members. 

       <strong>Otherwise, we will reply by email as soon as possible.</strong></p>
    <hr>
    <p class="lead"><strong>Talk to you soon, Lavander Apartments.</strong> </p>
      <a class="btn btn-primary btn-sm" href="https://bootstrapcreative.com/" role="button">Continue to homepage</a>
    </p>
  </div>



{% endblock %}